In [16]:
import pandas as pd
data=pd.read_csv("C:/Users/Dell/Downloads/Bengaluru Ola.csv")
print("Show first and last 10 data")
print(data.head(10))
print(data.head(10))
#to check the data types
print("Data Types:\n")
print(data.info())

#Check if there are missing values
print("\nMisiing values in each column")
print(data.isnull().sum())

#Handle missing values
data['Reason for Cancelling by Customer'].fillna('Not Applicable',inplace=True)
data['Reason for Cancelling by Driver'].fillna('Not Applicable',inplace=True)
data['Incomplete Rides Reason'].fillna('Not Applicable',inplace=True)
data['Payment Method'].fillna('Unknown',inplace=True)
data['Booking Value'].fillna(data['Booking Value'].median(), inplace=True)
data['Ride Distance'].fillna(data['Ride Distance'].median(), inplace=True)
data['Driver Ratings'].fillna(data['Driver Ratings'].mean(), inplace=True)
data['Customer Rating'].fillna(data['Customer Rating'].mean(), inplace=True)
data.drop(columns=['Avg VTAT'],inplace=True)
data.drop(columns=['Avg CTAT'],inplace=True)


print("\nMissing values after cleaning:")
print(data.isnull().sum())

#step 9: save the data into csv file
.to_csv('ola_cleaned.csv',index=False)
print('\n cleaned dataset save to csv file')

Show first and last 10 data
         Date      Time  Booking ID       Booking Status  Customer ID  \
0  28/01/2024   6:00:00  CNR1721175              Success       329258
1  26/01/2024   3:00:00  CNR2871422  Cancelled by Driver       201414
2  15/01/2024  16:00:00  CNR6875935  Cancelled by Driver       301629
3  02/01/2024  22:00:00  CNR6798834  Cancelled by Driver       319684
4  30/01/2024  22:00:00  CNR9661713           Incomplete       330283
5  14/01/2024  20:00:00  CNR8720322           Incomplete       787277
6  17/01/2024  21:00:00  CNR8611757              Success       329974
7  30/01/2024   0:00:00  CNR4039598              Success       663054
8  22/01/2024   8:00:00  CNR7516851              Success       656116
9  11/01/2024   5:00:00  CNR0890407  Cancelled by Driver       676510

  Vehicle Type Pickup Location Drop Location  Avg VTAT  Avg CTAT  ...  \
0         Auto          Area-3        Area-2      5.42     18.46  ...
1         Mini          Area-7        Area-6       NaN       NaN  ...
2         Bike         Area-40       Area-24       NaN       NaN  ...
3  Prime Sedan         Area-11       Area-24       NaN       NaN  ...
4         Bike         Area-41       Area-45       NaN       NaN  ...
5   Prime Plus         Area-46       Area-21       NaN       NaN  ...
6  Prime Sedan         Area-38       Area-26     19.95      5.01  ...
7        eBike         Area-47        Area-8     15.27     23.29  ...
8    Prime SUV         Area-11       Area-35     18.45     18.37  ...
9         Mini          Area-9       Area-43       NaN       NaN  ...

   Reason for Cancelling by Customer Cancelled Rides by Driver  \
0                                NaN                         0
1                                NaN                         1
2                                NaN                         1
3                                NaN                         1
4                                NaN                         0
5                                NaN                         0
6                                NaN                         0
7                                NaN                         0
8                                NaN                         0
9                                NaN                         1

   Reason for Cancelling by Driver Incomplete Rides  Incomplete Rides Reason  \
0                              NaN                0                      NaN
1   The customer was coughing/sick                0                      NaN
2    Personal & Car related issues                0                      NaN
3   The customer was coughing/sick                0                      NaN
4                              NaN                1              Other Issue
5                              NaN                1        Vehicle Breakdown
6                              NaN                0                      NaN
7                              NaN                0                      NaN
8                              NaN                0                      NaN
9           Customer related issue                0                      NaN

  Booking Value  Payment Method Ride Distance  Driver Ratings  Customer Rating
0        868.06          Wallet         28.50             4.4              4.4
1           NaN             NaN           NaN             NaN              NaN
2           NaN             NaN           NaN             NaN              NaN
3           NaN             NaN           NaN             NaN              NaN
4           NaN             NaN           NaN             NaN              NaN
5           NaN             NaN           NaN             NaN              NaN
6        348.04            Card         25.18             4.5              4.7
7         56.33             UPI         17.67             3.6              3.3
8       1971.38             UPI         24.94             3.2              3.7
9           NaN             NaN           NaN             NaN              NaN

[10 rows x 21 columns]
         Date      Time  Booking ID       Booking Status  Customer ID  \
0  28/01/2024   6:00:00  CNR1721175              Success       329258
1  26/01/2024   3:00:00  CNR2871422  Cancelled by Driver       201414
2  15/01/2024  16:00:00  CNR6875935  Cancelled by Driver       301629
3  02/01/2024  22:00:00  CNR6798834  Cancelled by Driver       319684
4  30/01/2024  22:00:00  CNR9661713           Incomplete       330283
5  14/01/2024  20:00:00  CNR8720322           Incomplete       787277
6  17/01/2024  21:00:00  CNR8611757              Success       329974
7  30/01/2024   0:00:00  CNR4039598              Success       663054
8  22/01/2024   8:00:00  CNR7516851              Success       656116
9  11/01/2024   5:00:00  CNR0890407  Cancelled by Driver       676510

  Vehicle Type Pickup Location Drop Location  Avg VTAT  Avg CTAT  ...  \
0         Auto          Area-3        Area-2      5.42     18.46  ...
1         Mini          Area-7        Area-6       NaN       NaN  ...
2         Bike         Area-40       Area-24       NaN       NaN  ...
3  Prime Sedan         Area-11       Area-24       NaN       NaN  ...
4         Bike         Area-41       Area-45       NaN       NaN  ...
5   Prime Plus         Area-46       Area-21       NaN       NaN  ...
6  Prime Sedan         Area-38       Area-26     19.95      5.01  ...
7        eBike         Area-47        Area-8     15.27     23.29  ...
8    Prime SUV         Area-11       Area-35     18.45     18.37  ...
9         Mini          Area-9       Area-43       NaN       NaN  ...

   Reason for Cancelling by Customer Cancelled Rides by Driver  \
0                                NaN                         0
1                                NaN                         1
2                                NaN                         1
3                                NaN                         1
4                                NaN                         0
5                                NaN                         0
6                                NaN                         0
7                                NaN                         0
8                                NaN                         0
9                                NaN                         1

   Reason for Cancelling by Driver Incomplete Rides  Incomplete Rides Reason  \
0                              NaN                0                      NaN
1   The customer was coughing/sick                0                      NaN
2    Personal & Car related issues                0                      NaN
3   The customer was coughing/sick                0                      NaN
4                              NaN                1              Other Issue
5                              NaN                1        Vehicle Breakdown
6                              NaN                0                      NaN
7                              NaN                0                      NaN
8                              NaN                0                      NaN
9           Customer related issue                0                      NaN

  Booking Value  Payment Method Ride Distance  Driver Ratings  Customer Rating
0        868.06          Wallet         28.50             4.4              4.4
1           NaN             NaN           NaN             NaN              NaN
2           NaN             NaN           NaN             NaN              NaN
3           NaN             NaN           NaN             NaN              NaN
4           NaN             NaN           NaN             NaN              NaN
5           NaN             NaN           NaN             NaN              NaN
6        348.04            Card         25.18             4.5              4.7
7         56.33             UPI         17.67             3.6              3.3
8       1971.38             UPI         24.94             3.2              3.7
9           NaN             NaN           NaN             NaN              NaN

[10 rows x 21 columns]
Data Types:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               49999 non-null  object
 1   Time                               49999 non-null  object
 2   Booking ID                         49999 non-null  object
 3   Booking Status                     49999 non-null  object
 4   Customer ID                        49999 non-null  int64
 5   Vehicle Type                       49999 non-null  object
 6   Pickup Location                    49999 non-null  object
 7   Drop Location                      49999 non-null  object
 8   Avg VTAT                           33484 non-null  float64
 9   Avg CTAT                           33484 non-null  float64
 10  Cancelled  by Customer             49999 non-null  int64
 11  Reason for Cancelling by Customer  3799 non-null   object
 12  Cancelled Rides by Driver          49999 non-null  int64
 13  Reason for Cancelling by Driver    9610 non-null   object
 14  Incomplete Rides                   49999 non-null  int64
 15  Incomplete Rides Reason            3106 non-null   object
 16  Booking Value                      33484 non-null  float64
 17  Payment Method                     33484 non-null  object
 18  Ride Distance                      33484 non-null  float64
 19  Driver Ratings                     33484 non-null  float64
 20  Customer Rating                    33484 non-null  float64
dtypes: float64(6), int64(4), object(11)
memory usage: 8.0+ MB
None

Misiing values in each column
Date                                     0
Time                                     0
Booking ID                               0
Booking Status                           0
Customer ID                              0
Vehicle Type                             0
Pickup Location                          0
Drop Location                            0
Avg VTAT                             16515
Avg CTAT                             16515
Cancelled  by Customer                   0
Reason for Cancelling by Customer    46200
Cancelled Rides by Driver                0
Reason for Cancelling by Driver      40389
Incomplete Rides                         0
Incomplete Rides Reason              46893
Booking Value                        16515
Payment Method                       16515
Ride Distance                        16515
Driver Ratings                       16515
Customer Rating                      16515
dtype: int64

Missing values after cleaning:

C:\Users\Dell\AppData\Local\Temp\ipykernel_10788\809446732.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Reason for Cancelling by Customer'].fillna('Not Applicable',inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10788\809446732.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Reason for Cancelling by Driver'].fillna('Not Applicable',inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10788\809446732.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Incomplete Rides Reason'].fillna('Not Applicable',inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10788\809446732.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Payment Method'].fillna('Unknown',inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10788\809446732.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Booking Value'].fillna(data['Booking Value'].median(), inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10788\809446732.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Ride Distance'].fillna(data['Ride Distance'].median(), inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10788\809446732.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Driver Ratings'].fillna(data['Driver Ratings'].mean(), inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10788\809446732.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Customer Rating'].fillna(data['Customer Rating'].mean(), inplace=True)

Date                                 0
Time                                 0
Booking ID                           0
Booking Status                       0
Customer ID                          0
Vehicle Type                         0
Pickup Location                      0
Drop Location                        0
Cancelled  by Customer               0
Reason for Cancelling by Customer    0
Cancelled Rides by Driver            0
Reason for Cancelling by Driver      0
Incomplete Rides                     0
Incomplete Rides Reason              0
Booking Value                        0
Payment Method                       0
Ride Distance                        0
Driver Ratings                       0
Customer Rating                      0
dtype: int64

NameError: name 'ola_cleaned' is not defined